extends layout

block content
   div Total Users:
      span= " " + users.length

   table
      tr
         th Name
         th Email
         th Actions
      each user in users
         tr
            td= user.firstName + " " + user.lastName
            td= user.emailAddress
            td
               a(href="/user/" + user._id) edit
               | - remove

